
footer{
    position: absolute;
    width: 1626rem;
    height: 670rem;
    top: 4150rem;
}

.FooterMenu{
    position: absolute;
    width: 1626rem;
    height: 542rem;
    top: 128rem;
    background-color: #232233;
}

.FooterContact{
    position: absolute;
    width: 1170rem;
    height: 230rem;
    border-radius: 30rem;
}

.Elipse_1{
    position: absolute;
    fill: var(--standart-color-2);
}

.ContactPanel{
    position: absolute;
    width: 1170rem;
    height: 230rem;
    left: 135rem;
    border-radius: 30rem; 
    background-color: var(--main-color);
    box-shadow: 0rem 10rem 100rem 0rem #0000003D;
}

.Content{
    position: absolute;
    width: 973rem;
    height: 117rem;
    display: flex;
    align-items: center;
}

.PhoneIcon{
    height: 100rem;
    width: 100rem;
    margin-right: 18rem;
}
.EmailIcon{
    height: 100rem;
    width: 100rem;
    margin-right: 18rem;
}
.PhoneContactImage{
    position: absolute;
    background-image: url('../FooterIcons/PhoneImage.png');
    width: 31.5rem;
    height: 31.5rem;
}  

.EmailContactImage{
    position: absolute;
    background-image: url('../FooterIcons/MailImage.png');
    width: 37.5rem;
    height: 30rem;
} 

.ShareStyle{
    font-size: 28rem;
    font-weight: 600;
    line-height: 38rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--info-color-2);
    display: flex;
}

.IconContent{
top: 0rem;
}

.Line{
    width: 4rem;
    height: 117rem;
    stroke: #e6e6e6;
    margin-left: 94rem;
    margin-right: 94rem;
}