

.AppArea{
    position: absolute;
    width: 1170rem;
    height: 575rem;
    top: 2634rem;
    left: 137rem;
}

.GooglePlay{
    position: absolute;
    background-image: url(../img/AppIcons/GooglePleyApp.png);
    background-size: cover;
    width: 139.65rem;
    height: 45.41rem;
    top: 399rem;
    position: absolute;
}

.AppStore{
    position: absolute;
    background-image: url(../img/AppIcons/AppStoreApp.png);
    background-size: cover;
    width: 139.65rem;
    height: 45.41rem;
    top: 399rem;
    left: 162.35rem;    
    position: absolute;
}

.AppHeader{
    position: absolute;
    width: 418rem;
    height: 192rem;
    top: 128rem;
    font-family: Segoe UI;
    font-size: 36rem;
    font-weight: 700;
    line-height: 48rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--standart-color-1);
}

.AppInfo{
    position: absolute;
    width: 501rem;
    height: 125rem;
    top: 253rem;
    font-size: 16rem;
    font-weight: 400;
    line-height: 32rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--info-color);
}

.PreviewAppOnPhone{
    position: absolute;
    background-image: url(../img/AppIcons/PreviewApponPhone.png);
    background-size: cover;
    width: 575rem;
    height: 575rem;
    left: 595rem;
    
}