
@font-face {
    font-family: 'MyInter'; /* Замените на имя вашего шрифта */
    src: url('../Fonts/Inter_Font.ttf') format('woff2'); /* Замените на путь к вашему файлу шрифта и формат */
    font-weight: normal;
    font-style: normal;
}

:root{
    --preview-color: #fff8ed;
    --main-color: #fff;
    --standart-color-1: #3C3C3C;
    --standart-color-2: #FCC647;
    --standart-color-3: #FFEFC8;
    --info-color: #667085;
    --info-color-2: #232233;
}

*{
    margin: 0rem;
    position: relative;
    font-family: MyInter;
}

a{
  user-select: none;
  text-decoration: none;
}

svg{
    border: none !important;
    outline: none !important;
    background-size: cover;
    position: absolute;
}

html{
    font-size: 1px;
}

header{
    /* background-image: url(../img/HeaderBacgroundImage.png); */
}

body{
    overflow-x: 2440rem;
    background-color: #FFFBF3;
}

main{
    background: var(--main-color);
    position: absolute;
    top: 785rem;
    height: 100vw;
}

.flex-container-row {
    display: flex;
    flex-direction:row;
}
.flex-container-column {
    display: flex;
    flex-direction:column;
}
.can-flex-wrap{
    flex-wrap: wrap;
}

.flex-itrem {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.flex-itrem-center {
    flex: 1;
    text-align: center;
}

.content-center{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
