
#HeaderSiteName{
    top: 29rem;
    left: 133rem;
    margin-bottom: 0rem;
    font-weight: 1000;
    font-size: 32rem;
}

.HeaderMenu{
    position: absolute;
    top: 38rem;
    margin-left: 613rem;
    width: 696rem;
    gap: 80rem;
}

.HeaderMenuItem{
    font-size: 20rem;
    font-weight: 500;
    font-family: Segoe UI;
    color: #3C3C3C;
}

.HeaderMenuItemHome{
    color: #FCC647;
    font-size: 20rem;
    font-weight: 500;
    font-family: Segoe UI;
    text-decoration: underline;
}
