
.InfoArea{
    position: absolute;
    width: 1491rem;
    height: 712rem;
    top: 1806rem;
    left: -41rem;
    overflow: hidden;
    background-color: #FFFBF3;
}

.InfoImage{
    background-image: url(/Images/Image_2.png);
    width: 466.69rem;
    height: 822rem;
    top: -55rem;
    left: 132.31rem;
    position: absolute;
}

.InfoArea_2{
    position: absolute;
    width: 565.5rem;
    height: 507rem;
    top: 98rem;
    left: 765rem;
    border-radius: 6rem;
}

.OurTargetButton{
    position: absolute;
    width: 109rem;
    height: 32rem;
    padding: 0rem, 8rem, 0rem, 8rem;
    border-radius: 6rem;
    gap: 8rem;
    background-color: var(--standart-color-3);
}

.OurTargetButtonText{
    font-size: 14rem;
    font-weight: 600;
    line-height: 12rem;
    letter-spacing: 0rem;
    color: var(--standart-color-2);
}

.InfoHeader{
    width: 565rem;
    height: 140rem;
    top: 45rem;
    font-family: Segoe UI;
    font-size: 36rem;
    font-weight: 700;
    line-height: 48rem;
    letter-spacing: 0em;
    text-align: left;
    color: #535353;
}

.InfoText{
    position: absolute;
    width: 537rem;
    height: 260rem;
    top: 173rem;
    font-size: 16rem;
    font-weight: 400;
    line-height: 30rem;
    letter-spacing: 0em;
    text-align: left;
    color:var(--info-color);
}

.OrderNowButton{
    position: absolute;
    width: 121rem;
    height: 44rem;
    top: 463rem;
    padding: 6rem, 9rem, 6rem, 9rem;
    border-radius: 6rem;
    gap: 8rem;
    background-color: var(--standart-color-2);
}

.OrderNowButtonText{
    font-size: 16rem;
    font-weight: 600;
    line-height: 12rem;
    letter-spacing: 0rem;
    text-align: center;
    color: var(--main-color);    
}