

@media screen and (max-width: 938px) {
    html{
        font-size: 0.60px
    }
}

@media screen and (max-width: 768px) {
    html{
        font-size: 0.485px
    }
}

@media screen and (max-width: 450px) {
    html{
        font-size: 0.29px
    }
}

