
#PreviewHeaderArea{
    width: auto;
height: 785rem;
background: var(--preview-color);
}

#PreviewGeneralImageBackground{
    background-image: url(/Images/GeneralBackgroundImage.png);
   
    top: 153rem;
    left: 798.04rem;
    width: 1219.48rem;
    height: 527rem;
    rotate: 180deg;
}
#PreviewGeneralImageDish{
    background-image: url(/Images/GeneralDishImage.png);
    
    width: 471.43rem;
    height: 477.36rem;
    top: 182.82rem;
    left: 865.24rem;
}

#PreviewGeneralImageVegetables_1{
    background-image: url(/Images/VegetablesImage_1.png);
    
    width: 242.21rem;
    height: 101.63rem;
    top: 158.11rem;
    left: 673.49rem;
    rotate: -1.66deg;
}
#PreviewGeneralImageVegetables_2{
    background-image: url(/Images/VegetablesImage_2.png);
    
    width: 190.69rem;
    height: 190.69rem;
    top: 539.81rem;
    left: 654.69rem;    
}

#PreviewGeneralImageVegetables_3{
    background-image: url(/Images/VegetablesImage_3.png);
    
    width: 25.74rem;
    height: 52.68rem;
    top: 498rem;
    left: 544.21rem;
    rotate:33.67deg;
}

#PreviewImage_1{
    background-image: url(/Images/Image_1.png);
    background-size: cover;
    position: absolute;
    border: none;
    width: 292.97rem;
    height: 180.25rem;
    top: 330.91rem;
    left: 620.17rem;
    
}

#PreviewText_1{
    width: 573rem;
    height: 164rem;
    top: 252rem;
    left: 136rem;
    position: absolute;
    
    font-family: Segoe UI;
    font-size: 48rem;
    font-weight: 700;
    line-height: 64rem;
    letter-spacing: 0em;
    text-align: left;
}
#PreviewText_2{
    width: 507rem;
    height: 125rem;
    top: 401rem;
    left: 136rem;
    position: absolute;

    font-size: 16rem;
    font-weight: 400;
    line-height: 32rem;
    letter-spacing: 0em;
    text-align: left;

}

#GetStartedButton {
    background-color: #FCC647;  
    font-size: 18rem; 
    cursor: pointer;
    border: none; 
    border-radius: 40rem;  
    width: 146rem;
    height: 52rem;
    top: 553rem;
    left: 137rem;
    text-align: center;
    position: absolute;
}

#GetStartedButtonText{
    position: absolute;
    top: 15rem;
    left: 20rem;
    
    font-size: 19rem;
    font-weight: 500;
    line-height: 23rem;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

#MoreInformationButton {  
    position: absolute;
    font-size: 18rem; 
    cursor: pointer;
    border: none; 
    width: 261rem;
    height: 40rem;
    top: 559rem;
    left: 309rem;
}

#MoreInformationButtonText{
    position: absolute;
    top: 4rem;
    left: 54rem;
    height: 22rem;
    width: 207rem;
    
    font-size: 17rem;
    font-weight: 500;
    line-height: 32rem;
    letter-spacing: 0em;
    text-align: left;
    
    text-align: left;
    color: #3C3C3C;
    text-decoration: none;
}


#MoreInformationButtonIcon{
    background-image: url(/Images/MoreInformationIcon.png);
    width: 20rem;
    height: 20rem;
    top: 10rem;
    left: 10rem;
}

#MoreInformationButtonBackground{
    background-color: #ffffff;
    width: 40rem;
    height: 40rem;
    border-radius: 40rem;  
}

#ButtonFastDelivery{
    position: absolute;
    width: 147.75rem;
    height: 38.75rem;
    top: 201rem;
    left: 136rem;
    border-radius: 7.13rem;
    gap: 9.5rem;
    text-align: center;
    background-color: #FFF2D4;
    border: none;
}

#ButtonFastDelivery:active{
    background-color: #eddeba;
    border: #e3b03a;
    border-radius: 5rem;
}


#ButtonFastDeliveryText{
    position: absolute;
    top: 11.8rem;
    left: 21.3rem;
    font-size: 17rem;
    font-weight: 600;
    line-height: 14rem;
    letter-spacing: 0rem;
}


